.modal {
  position: absolute;
  width: 90%;
  max-width: 400px;
  box-shadow: var(--shadow-sm);
  padding: 20px;
  bottom: 20%;
  box-sizing: border-box;
}

.modal .correct,
.modal .incorrect {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Caja principal */
.modal-border {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  isolation: isolate;
}
.btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: var(--shadow-sm);
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 10px;
}
.btn:hover {
  transform: scale(1.05);
}

/* Borde animado */
.modal-border::before {
  content: "";
  position: absolute;
  inset: -50%;
  background: var(--conic-border);
  animation: rotateBorder 3s linear infinite;
  z-index: 0;
}

/* Fondo interior que tapa el centro */
.modal-border::after {
  content: "";
  position: absolute;
  inset: 4px;
  border-radius: 14px;
  z-index: 1;
}

/* Fondo interior según resultado */
.modal-border.correct::after {
  background: var(--background-green-linear), white;
}

.modal-border.incorrect::after {
  background:
    linear-gradient(rgba(251, 147, 147, 0.415), rgba(251, 147, 147, 0.415)),
    white;
}

/* Texto, botón y audio por encima */
.modal-border > * {
  position: relative;
  z-index: 2;
}

@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
